//===============================================================================
// §ABOUT
//===============================================================================
.about-wrap{
  font-size: 1.1em;
  padding: 5em 0 10em;
  margin: 0 auto;
  width: 90%;
  max-width: 44em;

  h2{
    margin-top: 2em;
  }
}