//===============================================================================
// §GRID
//===============================================================================
.main{
  position: fixed;
  top: 5em;
  left: 0;
  width: 100%;
}

.mp-grid{

}

.mp-containter{
  float: left;
  width: 25%;
  height: 10em;
}

.mp{
  @include border-radius(10em);
  @include transition-property(all);
  @include transition-duration(.15s);

  height: 1em;
  width: 1em;
  background-color: hsl(320, 100, 50);
  margin: 4em auto;
  cursor: pointer;
  padding: .2em;
}

.mp-img{
  @include border-radius(10em);
  @include transition-property(all);
  @include transition-duration(.15s);

  background-image: url(../img/dave.jpg);
  width: 100%;
  height: 100%;
  opacity: 0;
  background-size: 100% 100%;
}

.show{
  height: 8em;
  width: 8em;
  margin: 1em auto; 

  .mp-img{
    opacity: 1;
  }
}

.pop{
  @include transition-duration(0);

  background-image: url(../img/pop.svg);
  background-color: white;
  height: 60px;
  width: 60px;
  margin: 2.5em auto;

  .mp-img{
    opacity: 0;
  }
}

.party-lab{
  background-color: red;
}

.party-con{
  background-color: blue; 
}

.party-lib{
  background-color: yellow;  
}

.party-other{
  background-color: grey;  
}

