//===============================================================================
// §HEADER
//===============================================================================
.site-header{
  background: hsl(0, 0, 80);
  position: fixed;
  height: 5em;
  top: 0;
  left: 0;
  width: 100%;
}

.branding{
  float: left;
  width: 35%;

  h1{
    font-weight: normal;
    margin: .9em .5em 0;
    float: left;
  }

  img{
    float: left;
    margin: .4em 0 0 -.5em;
  }
}

.instructions{
  float: left;
  width: 65%;
  padding: .5em;
  text-align: right; 
}