//===============================================================================
// §LAYOUT
//===============================================================================
.wrap{
  font-size: 1.1em;
  padding-top: 6em;
  margin: 0 auto;
  width: 90%;
  max-width: 44em;
}