//===============================================================================
// §SCOREBOARD
//===============================================================================
.scoreboard-wrap{
  font-size: 1.1em;
  padding: 7em 0 10em;
  margin: 0 auto;
  width: 90%;
  max-width: 56em;

  h2{
    font-size: 2.2em;
    color: hsl(0, 0, 20);
  }

  h2 span{
    float: right;
  }
}

.scores{
  @include border-radius(.2em);

  float: left;
  width: 45%;
  border: 1px solid hsl(0, 0, 80);
}

.player-scores{
  margin-right: 10%;
}

.player-scores table{
  font-size: 1.3em;
  width: 100%;

  th{
    text-align: left;
  }

  td,
  th{
    width: 70%;
    padding: .2em .5em;
  }

  td:nth-child(2n),
  th:nth-child(2n){
    width: 30%;
    text-align: right;
  }

  tr:nth-child(even){
    background-color: hsl(0, 0, 95);
  }
}

.mp-scores{
  .mp-s{
    margin: 1em;
    position: relative;
  }

  .p-code{
    color: hsl(0, 0, 60);
    padding: .5em;
    display: block;
    margin-top: 2em;
  }

  input{
    @include border-radius(.3em);

    margin: .5em 2%;
    width: 96%;
    appearance: none;
    height: 2.6em;
    border: 0;
    background-color: hsl(0, 0, 90);
  }

  .mp-name,
  .mp-score{
    position: absolute;
    font-size: 1.3em;
    top: 1.6em;
    left: 7.5em;
    width: 10em;
  }

  .mp-score{
    top: 2.8em;
  }
}

.dave .mp-img{
  background-image: url(../img/dave.jpg) !important;
}

.ed .mp-img{
  background-image: url(../img/ed.jpg) !important;
}

.nick .mp-img{
  background-image: url(../img/nick.jpg) !important;
}